*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --body-bg: rgb(236, 242, 248);
  --card-1-bg: rgb(117, 65, 200);
  --card-2-bg: rgb(72, 85, 106);
  --card-4-bg: rgb(25, 33, 46);
  --dark-text: rgb(72, 85, 106);
  --body-text-light: rgba(72, 85, 106, 0.8);
  --white-text: rgb(255, 255, 255);
  --cards-3-5-bg: rgb(255, 255, 255);
  --body-text-color: rgba(255, 255, 255, 0.7);
}
body {
  background-color: var(--body-bg);
  font-family: 'Barlow Semi Condensed', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1rem;
  margin: 0;
}

#testimony-1 {
  background-color: var(--card-1-bg);
}
#testimony-2 {
  background-color: var(--card-2-bg);
}

#testimony-4 {
  background-color: var(--card-4-bg);
}
#testimony-1,
#testimony-2,
#testimony-4 {
  color: var(--white-text);
}
#testimony-3,
#testimony-5 {
  background-color: var(--cards-3-5-bg);
  color: var(--dark-text);
}



.testimonial-card {
 
  padding:  1.2em 2em 2em 2em;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(72, 85, 106, 0.3);
}


.lead-text {
  margin-bottom: 1.2rem;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 600;
}

.body-text {
  line-height: 1.2rem;
  font-size: .8125rem;
  color: var(--body-text-color);
  font-weight: 400;
  margin-left: 0;
  margin-bottom: 0;
  letter-spacing: .005em;
}
.body-text-light {
  color: var(--body-text-light);
  line-height: 1.2rem;
  font-size: .8125rem;
  font-weight: 400;
  margin-left: 0;
  margin-bottom: 0;
  letter-spacing: .005em;
}

.user-info {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 1.1rem;
  margin-bottom: 1.2rem;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--body-text-light);
  display: inline-block;
}
.name {
  font-size: .8125rem;
  font-weight: 600;
  
}

#testimonial-grid {
  max-inline-size: clamp(20.438rem, 3.162rem + 73.709vw, 69.5rem);
  display: grid;
  grid-template-areas: "testimony-1" "testimony-2" "testimony-3" "testimony-4" "testimony-5";
  gap: 1.2rem; 
}

@media (min-width: 48em){
  #testimonial-grid{
     grid-template-columns: repeat(3, 1fr);
     grid-template-areas:
     "testimony-1 testimony-1 testimony-2"
     "testimony-3 testimony-4 testimony-4"
     "testimony-5 testimony-5 testimony-5";
  }
}

@media (min-width: 75em){
  body{
    padding: 4.5rem 1rem;
  }
  #testimonial-grid{
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "testimony-1 testimony-1 testimony-2 testimony-5"
    "testimony-3 testimony-4 testimony-4 testimony-5";
  }
}

#testimony-1 {
  grid-area: testimony-1;
  background-image: url("images/bg-pattern-quotation.svg");
  background-position: top 0 right 10%;
  background-repeat: no-repeat;
}

#testimony-2 {
  grid-area: testimony-2;
}

#testimony-3 {
  grid-area: testimony-3;
}

#testimony-4 {
  grid-area: testimony-4;
}

#testimony-5 {
  grid-area: testimony-5;
}

